			<div class="sg-35 sgParent">
				<div class="date sg-2 borderRight">
				#DATE#
				</div>
			
				<div class="post sg-30">
					<div class="post-title"><a href="#URI#" title="#TITLE#">#TITLE#</a></div>
					<div class="post-delete" align="right"><a href="bkmrk.php?post&id=#ID#&uri=#URI#&title=#TITLE#&desc=#DESC#&tags=#TAGSLIST#" title="modify post #ID#">e</a>::<a href="bkmrk.php?delete&id=#ID#" title="delete post #ID#">x</a></div>
					<div class="post-desc">#DESC#</div>
					<div class="post-tags">#TAGS#</div>
				</div>
			</div>